/*Reset css*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
   font-weight: normal;
}

ul {
   list-style: none;
}

button,
input,
select {
   margin: 0;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

img,
video {
   height: auto;
   max-width: 100%;
}

iframe {
   border: 0;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

td,
th {
   padding: 0;
}

/*root*/
:root {
   font-family: 'Mulish', sans-serif;
   background-color: antiquewhite;
}

/*container*/
.container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 100px auto;
   gap: 5vw;
   padding: 0 10px;
}
/*header*/
.header {
   grid-row: 1;
   grid-column: 1 / 3;
   justify-self: center;
   align-self: center;
   font-size: 34px;
   font-weight: 700;
}
/*sidebar*/
.sidebar {
   grid-row: 2;
   grid-column: 2;
}

.sidebar form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 15px;
   padding: 15px;
   border-radius: 15px;
   background-color: rgb(171, 201, 250);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add__title {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
}
.add__title p {
   align-self: center;
}
.add__title input {
   height: 25px;
   border: none;
   outline: 0;
   border-radius: 4px;
   background-color: rgb(228, 241, 255);
}
.add__author {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
}
.add__author p {
   align-self: center;
}

.add__author input {
   height: 25px;
   border: none;
   outline: 0;
   border-radius: 4px;
   background-color: rgb(228, 241, 255);
}

.add__pages {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 5px;
}
.add__pages p {
   align-self: center;
}
.add__pages input {
   height: 25px;
   border: none;
   outline: 0;
   border-radius: 4px;
   background-color: rgb(228, 241, 255);
}

.sidebar form button {
   grid-column: 1 / span 2;
   grid-row: 5;
   width: 80px;
   height: 30px;
   justify-self: end;
   cursor: pointer;
   border: none;
   border-radius: 20px;
   background-color: rgba(101, 101, 246, 0.605);
   transition: all 0.3s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar form button:hover {
   background-color: rgb(103, 114, 235);
}

.add__book .add__isread p {
   margin: 0 0 3px 0;
}

.add__title,
.add__author,
.add__pages,
.add__isread {
   grid-column: 1 / span 2;
   justify-self: center;
}

.add__isread {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.add__isread .book__isread {
   display: flex;
   align-items: center;
   gap: 10px;
}
.span__no {
   font-weight: 700;
   color: rgb(255, 40, 75);
   text-shadow: 1px 1px 2px rgb(255, 122, 144);
}
.span__yes {
   font-weight: 700;
   color: rgb(0, 138, 14);
   text-shadow: 1px 1px 2px rgb(138, 255, 149);
}

/*bookshelf*/
.bookshelf {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-row: 2;
   grid-column: 1/2;
   align-self: start;
   gap: 3vw;
}

/*book*/
.book {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 15px;
   padding: 15px;
   background-color: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

.book__title {
   font-weight: 700;
   justify-self: center;
   text-align: center;
}

.book__title,
.book__author,
.book__pages {
   grid-column: 1 / span 2;
}

.book__isread {
   grid-column: 2;
}

.book__remove {
   height: 30px;
   width: 80px;
   grid-column: 1;
   grid-row: 4;
   cursor: pointer;
   border: none;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.504);
   transition: all 0.3s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.book__remove:hover {
   background-color: rgba(147, 141, 141, 0.504);
}

/*input styles*/

input[type='checkbox'] {
   position: relative;
   width: 60px;
   height: 25px;
   background: rgb(255, 154, 154);
   appearance: none;
   -webkit-appearance: none;
   border-radius: 14px;
   outline: none;
   transition: 0.5s;
   cursor: pointer;
}

input:checked[type='checkbox'] {
   background: rgb(2, 190, 112);
}

input[type='checkbox']::before {
   z-index: 2;
   content: '';
   position: absolute;
   left: 0;
   width: 27px;
   height: 27px;
   background: rgb(255, 255, 255);
   border-radius: 50%;
   transform: scale(1.1);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   transition: 0.3s;
}

input:checked[type='checkbox']::before {
   left: 35px;
}

.book .book__isread {
   position: relative;
   display: inline;
   font-size: 12px;
   font-weight: 700;
   justify-self: end;
   align-self: end;
}

.book__isread label {
   position: absolute;
   color: #fff;
   pointer-events: none;
}

.read__yes {
   bottom: 9px;
   left: 0.5vw;
}
.read__no {
   bottom: 9px;
   right: 0.5vw;
}

/*media queries*/
@media (max-width: 992px) {
   .container {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 100px auto;
   }
}

@media (max-width: 767px) {
   .bookshelf {
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
   }
   .container {
      grid-template-columns: 3fr 5fr;
      grid-template-rows: 100px auto;
   }
}

@media (max-width: 480px) {
   .container {
      display: grid;
      grid-template-rows: 50px 300px 1fr;
      gap: 10px;
      padding: 0 10px;
   }
   .header {
      grid-column: 1/3;
      grid-row: 1;
   }
   .sidebar {
      grid-column: 1/3;
      grid-row: 2;
      align-self: center;
      justify-self: center;
      width: 100%;
   }
   .bookshelf {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-column: 1/3;
      grid-row: 3;
      align-self: center;
      justify-self: center;
      padding: 15px 0 0 0;
   }
}
